<p class="m-0">
  <mat-toolbar color="primary">
    <button mat-icon-button class="flex items-center pr-1 example-icon">
      <mat-icon *ngIf="!sideNav.opened" (click)="this.sideNav.open()" class="mat-18">menu</mat-icon>
      <mat-icon *ngIf="sideNav.opened" (click)="this.sideNav.close()" class="mat-18">close</mat-icon>
    </button>
    <span>My Application</span>
  </mat-toolbar>
</p>
<mat-sidenav-container>
  <mat-sidenav class="py-2 px-5 bg-black w-60 text-white opacity-70" #sideNav="matSidenav">
    <img src="https://media.gettyimages.com/id/1311148884/vector/abstract-globe-background.jpg?s=612x612&w=gi&k=20&c=G5uPfn2VTF3aXCr76pn1T7oWE-aHVQ0rAYMl_MK2OvM=" alt="Nav image" class="avatar mat-elavation-z8 py-2 h-30 object-cover">
    <h4 class="text-center">Let's Program</h4>
    <mat-divider></mat-divider> <hr class="mb-2">
    <div class="flex mb-2 item-center" *ngFor="let source of sources">
      <button (click)="getChannel(source)" mat-button class="menu-button">
        <mat-icon>event_note</mat-icon>
        <span class="ml-2">{{source.source.name}}</span>
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="content flex mat-elevation-z4">
    <section class="text-gray-600 bg-gray-100 body-font">
      <div class="container px-5 mx-auto max-w-7xl">
        <div class="w-full mb-4 p-4">
          <h1 class="sm:text-4xl text-5xl font-medium title-font mb-2 text-gray-900">{{selectedNewsChannel || "Top 10 Trending News!"}}</h1>
          <div class="h-1 bg-indigo-500 rounded-md"></div>
        </div>
      </div>
      <div class="flex flex-wrap">
        <div *ngFor="let article of articles" class="xl:w-1/3 md:w-1/2 p-4">
          <div class="bg-white p-6 rounded-lg">
            <img src={{article.urlToImage}}  class="lg:h-60 xl:h-56 md:h-64 sm:h-72 xs:h-72 h-72 rounded w-full object-cover object-center mb-6" alt="image">
            <div class="flex justify-between">
              <h3 class="tracking-widest h-[40px] text-indigo-500 text-xs font-medium title-font">Author: {{article.author}}</h3>
              <h4 style="text-overflow: ellipsis;
                  display: -webkit-box;" class="tracking-widset text-gray-800 text-sm">{{article.publishedAt | date: 'medium'}}</h4>
            </div>
            <h2 class="text-lg h-[60px] text-gray-900 font-medium title-font mb-4 overflow-hidden">{{article.title}}</h2>
            <p class="leading-relaxed h-[57px] overflow-hidden  text-base">{{article.description}}</p>
            <p><a class="text-blue-500" href="{{article.url}}" target="_blank">read more...</a></p>
          </div>
        </div>

      </div>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>